{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.3.2/chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/1.0.1/chartjs-plugin-annotation.min.js"></script>

<div class="container pt-5">
    <h1>Result</h1>

    {% if records == 0 %}
        <strong>The test does not exist in the current database.</strong>
    {% else %}
        <div class="pb-3">
            <h2>Test Info</h2>
            <ul>
                <li><b>Device Code:</b>&nbsp;{{ device_code }}</li>
                <li><b>UUID:</b>&nbsp; {{ uuid }}</li>
                <li><b>Records:</b>&nbsp; {{ records }}</li>
                <li><b>Started at:</b>&nbsp; {{ start }}</li>
                <li><b>Ended at:</b>&nbsp; {{ end }}</li>
            </ul>
        </div>

        <h2>Content</h2>
            <h4>Change the x-axis range</h4>
            <div class="row">
                <div class="col-4">
                    <form method="get" action="/report">
                        <div class="form-group">
                            <label for="pagerStart">Min x-axis Value</label>
                            <input type="number" class="form-control" id="pagerStart" name="x-axis-start" aria-describedby="pagerStart" placeholder="Enter MIN x-axis value" value="0">
                            <small class="form-text text-muted">The MIN value for the x-axis</small>
                        </div>
                        <div class="form-group">
                            <label for="pagerEnd">Max x-axis Value</label>
                            <input type="number" class="form-control" id="pagerEnd" name="x-axis-end" aria-describedby="pagerEnd" placeholder="Enter MAX x-axis value" value="{{ records }}">
                            <small class="form-text text-muted">The MAX value for the x-axis</small>
                        </div>
                        <input type="hidden" name="uuid" value="{{ uuid }}" />
                        <input type="hidden" name="device_code" value="{{ device_code }}" />
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div>
                <h4>RMSSD vs Row Number Line Chart</h4>
                <canvas id="line-chart"></canvas>
            </div>

            <ul class="pt-3">
                {% for label in stress_labels %}
                    <li><b>{{ label.short_hand }}: </b>{{ label.name }}</li>
                {% endfor %}
            </ul>

            <form method="post" action="/report/label/add" style="border:1px dashed black; padding: 20px">
                <h4>Add event label to the chart</h4>
                <div class="form-group">
                    <label for="labelShortHand">Short Hand for Label</label>
                    <input type="text" class="form-control" id="labelShortHand" name="label_short_hand" aria-describedby="labelShortHand" placeholder="Enter short hand for the label event">
                    <small class="form-text text-muted">The short hand for the label event</small>
                </div>
                <div class="form-group">
                    <label for="eventLabelName">Event label name</label>
                    <input type="text" class="form-control" id="eventLabelName" name="event_label_name" aria-describedby="eventLabelName" placeholder="Enter short hand for the label event">
                    <small class="form-text text-muted">The full description of the event label</small>
                </div>
                <div class="form-group">
                    <label for="eventLabelValue">Event label value</label>
                    <input type="text" class="form-control" id="eventLabelValue" name="event_label_value" aria-describedby="eventLabelValue" placeholder="Enter the value of the event">
                    <small class="form-text text-muted">The x-axis value of the event label</small>
                </div>
                <input type="hidden" name="uuid" value="{{ uuid }}" />
                <input type="hidden" name="device_code" value="{{ device_code }}" />
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <div class="pb-5 pt-2">
                <h2>Summary</h2>
                <p>For the current test:</p>
                <ul>
                    <li>There are <b>{{ detected_stress_x_basic | length }}</b> stress event detected by <strong class="text-capitalize">stress detection algorithm</strong></li>
                    <li>There are <b>{{ detected_stress_x_sliding | length }}</b> stress event detected by <strong class="text-capitalize">sliding window algorithm</strong></li>
                    <li>There are <b>{{ event_labels_value | length }}</b> stress event labeled <b>manually</b></li>
                </ul>
            </div>

            <div>
                <h4>PPG vs Row Number Line Chart</h4>
                <canvas id="ppg-line-chart"></canvas>
            </div>
            
            <div class="pt-5 pb-5">
                <h2>Additional</h2>
                Download the test data: <a href="{% static "datasets/"|add:device_code|add:"/"|add:uuid|add:"/response.csv" %}" download="response.csv">Click here</a>
            </div>
    {% endif %}
</div>

<script>
    var stressEvent = {{ event_labels_short_hand | safe }};
    var stressTimeLabel = {{ event_labels_value | safe }};
    var detectedStressXBasic = {{ detected_stress_x_basic | safe }};
    var detectedStressYBasic = {{ detected_stress_y_basic | safe }};
    var detectedStressXSliding = {{ detected_stress_x_sliding | safe }};
    var detectedStressYSliding = {{ detected_stress_y_sliding | safe }};

    var annotations = stressTimeLabel.map(function(timeLabel, index) {
        return {
            type: 'line',
            id: 'vline' + index,
            scaleID: 'x-axis-0',
            xMin: timeLabel,
            xMax: timeLabel,
            borderColor: 'green',
            borderWidth: 1,
            label: {
                enabled: true,
                position: "start",
                content: stressEvent[index]
            }
        }
    });

    detectedStressXBasic.map(function(point, index) {
        var annotat = {
          type: 'point',
          id: 'dp' + index, 
          scaleID: 'detected-point',
          xValue: point,
          yValue: detectedStressYBasic[index],
          borderWidth: 2,
          radius: 5,
          display: true,
          backgroundColor: 'rgba(255, 99, 132, 0.25)'
        };
    
        annotations.push(annotat);
    });

    detectedStressXSliding.map(function(point, index) {
        var annotat = {
          type: 'point',
          id: 'sdp' + index, 
          scaleID: 'detected-sliding-point',
          xValue: point,
          yValue: detectedStressYSliding[index],
          borderWidth: 1,
          radius: 5,
          display: true,
          backgroundColor: 'rgb(216, 215, 250)'
        };
    
        annotations.push(annotat);
    });

    var config = {
      type: 'line',
      data: {
        datasets: [
            {
                label: 'RMSSD',
                data: {{ data | safe }},
                borderColor: "#1EAEDB",
                backgroundColor: "#1EAEDB0D",
                yAxisID: 'y',
            },
            {
                label: 'Heart Rate',
                data: {{ hr | safe }},
                borderColor: "#FF6384",
                backgroundColor: "#FF638424",
                yAxisID: 'y1',
            }
        ],
        labels: {{ labels | safe }}
      },
      options: {
        responsive: true,
        plugins: {
            title: {
                display: true,
                text: 'RMSSD vs Row Number',
            },
            annotation: {
                drawTime: "afterDatasetsDraw",
                annotations: annotations
            }
        },
        scales: {
            y: {
                type: 'linear',
                display: true,
                position: 'left',
            },
            y1: {
                type: 'linear',
                display: true,
                position: 'right',

                // grid line settings
                grid: {
                drawOnChartArea: false, // only want the grid lines for one axis to show up
                },
            },
        }
      }
    };

    var ppgConfig = {
      type: 'line',
      data: {
        datasets: [
            {
                label: 'PPG',
                data: {{ ppg_data | safe }},
                borderColor: "#1EAEDB",
                backgroundColor: "#1EAEDB0D",
                yAxisID: 'y',
            },
            {
                label: 'Heart Rate',
                data: {{ hr | safe }},
                borderColor: "#FF6384",
                backgroundColor: "#FF638424",
                yAxisID: 'y1',
            }
        ],
        labels: {{ labels | safe }}
      },
      options: {
        responsive: true,
        plugins: {
            title: {
                display: true,
                text: 'PPG Raw Data vs Heart Rate vs Row Number',
            },
            annotation: {
                drawTime: "afterDatasetsDraw"
            }
        },
        scales: {
            y: {
                type: 'linear',
                display: true,
                position: 'left',
            },
            y1: {
                type: 'linear',
                display: true,
                position: 'right',

                // grid line settings
                grid: {
                drawOnChartArea: false, // only want the grid lines for one axis to show up
                },
            },
        }
      }
    };
    
    window.onload = function() {
        var ctx = document.getElementById('line-chart').getContext('2d');
        window.lineChart = new Chart(ctx, config);


        var ctx1 = document.getElementById('ppg-line-chart').getContext('2d');
        window.ppgLineChart = new Chart(ctx1, ppgConfig);
    };
</script>